.post {
	background-color: white;
	max-width: 500px;
	border: 1px solid lightgray;
	margin-bottom: 45px;
	margin-top: 10px;
}

.post__header {
	display: flex;
	align-items: center;
	padding: 10px;
}
.post__header_image {
	margin-right: 10px;
}

.post__image > img {
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	width: 100%;
	object-fit: contain;
}

.post__caption > h4 {
	font-weight: normal;
	margin-left: 10px;
}
.post__comments {
	padding: 20px;
	margin-bottom: 10px;
}
.post__comments > p {
	margin-bottom: 10px;
}
.post__commentsTotal {
	padding: 10px;
}
.post__commentBox {
	/* margin-left: 10px; */
	display: flex;
	margin-top: 10px;
}
.post__commentsTotal > span {
	font-weight: normal;
	font-size: 15px;
	padding: 4px;
}
.post__input {
	border-top: 1px solid lightgray;
	text-align: center;
	flex: 1;
}
.post__button {
	/* border-top: 1px solid lightgray; */
	border-top: 1px solid lightgray;
	flex: 0;
}
